@font-face {
  font-family: exo;
  src: url(../font/Exo-Regular.otf);
}

@font-face {
  font-family: capsuula;
  src: url(../font/Capsuula.ttf);
}

@font-face {
  font-family: terminus;
  src: url(../font/Terminus.ttf);
}

html {
  padding: 0;
  width: 1024px;
  height: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: exo;
  font-size: 11pt;
  padding: 0;
  margin: 0;
  height: 100%;
}

pre {
  margin-left: 1em;
  background-color: #eee;
  padding: 1em;
  border-radius: 15px;
}

code {
  font-family: terminus;
  font-size: 12pt;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: capsuula;
  font-weight: normal;
  font-size: 48pt;
}

hr {
  display: none;
}

#site-header {
  height: 200px;
  background: url(../img/title.png);
}

#navigation {
  width: 311px;
  float: left;
  padding-left: 80px;
}

#navigation a {
  font-family: capsuula;
  color: black;
  display: block;
  font-size: 42pt;
}

#content {
  padding-left: 391px;
}
