@font-face {
  font-family: exo;
  src: url(../font/Exo-Regular.otf);
}

@font-face {
  font-family: capsuula;
  src: url(../font/Capsuula.ttf);
}

@font-face {
  font-family: terminus;
  src: url(../font/Terminus.ttf);
}

@font-face {
  font-family: entypo;
  src: url(../font/entypo.ttf);
}

@font-face {
  font-family: entypo-social;
  src: url(../font/entypo-social.ttf);
}

html {
  padding: 0;
  width: 1024px;
  height: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: exo;
  font-size: 11pt;
  padding: 0;
  background-color: #EFEFEF;
  margin: 0;
  height: 100%;
}

pre {
  margin-left: 1em;
  background-color: #f8f8f8;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}

pre code {
  border: none;
}

code {
  font-family: terminus;
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
  padding: 0.1em 0.3em 0 0.3em;
  border-radius: 5px;
  font-size: 12pt;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #232323;
}

.post-content {
  text-align: justify;
}

.post-content img {
  padding-left: 1em;
  float: right;
}

footer.post-footer {
  margin: 0;
  padding: 0;
}

footer.post-footer a {
  padding-left: 1em;
  padding-right: 1em;
  color: #444444;
}

footer {
  color: gray;
  font-size: 12px;
  text-align: right;
  margin: 1em;
  padding: 1em;
}

footer a {
  color: #666;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: capsuula;
  font-weight: normal;
  font-size: 48pt;
}

.post {
  background-color: #fff;
  padding: 2em 3em 2em 3em;
  margin-bottom: 3em;
  border-right: 2px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
}

.post-date {
  font-size: 10pt;
  padding: 3px;
  margin-top: -50px;
  margin-right: 20px;
  float: right;
}

.post-date img {
  float: left;
  margin-top: -4px;
  margin-right: 5px;
}

hr {
  display: none;
}

#site-header {
  height: 200px;
  background: url(../img/title.png);
  margin-left: 120px;
  background-position: 50px 0px;
}

#navigation {
  width: 211px; /* Golden ratio is 800=311+489 */
  float: left;
  text-align: right;
}

#navigation a {
  font-family: capsuula;
  color: black;
  text-decoration: none;
  display: block;
  font-size: 32pt;
}

#navigation a:hover:after {
  color: black;
}

#navigation a:hover span {
  text-decoration: underline;
  color: black;
}

#home:after {
  font-family: entypo;
  margin-left: 0.4em;
  color: lightgray;
  content: "\1F4F0";
}

#github:after {
  font-family: entypo;
  margin-left: 0.4em;
  color: lightgray;
  content: "\1F56A";
}

#dotfiles:after {
  font-family: entypo;
  margin-left: 0.4em;
  color: lightgray;
  content: "\23F6";
}

#rubychan:after {
  font-family: entypo;
  margin-left: 0.4em;
  color: lightgray;
  content: "\1F4E5";
}

#content {
  padding-left: 241px; // when following golden ratio, should be 391px
}

#footerquote {
  float: left;
}

.post-title {
  font-size: 32pt;
}

