---
layout: default
---

{% for post in paginator.posts %}
  <div class="post">
    <div class="post-header">
      <a href="{{ post.url }}">
        <h1 class="post-title">{{ post.title }}</h1>
      </a>
      <div class="post-date">
        {{ post.date | date:"%d-%m-%Y" }}
        </div>
    </div>
    <div class="post-content">{{ post.content }}</div>
    <footer class="post-footer">
    <a href="https://twitter.com/share" class="twitter-share-button"
      data-url="http://sensae.github.com{{ post.url }}" data-text="{{ post.title }}"
      data-via="sensae" data-related="sensae" data-count="none">Tweet</a>
    <script>!function(d,s,id){var
      js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </footer>
  </div>
{% endfor %}

<div id="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="previous">&lt;&lt;</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="previous">&lt;&lt;</a>
    {% endif %}
  {% else %}
    <span class="previous disabled">&lt;&lt;</span>
  {% endif %}

  <span class="page_number">{{paginator.page}} / {{paginator.total_pages}}</span>

  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next">&gt;&gt;</a>
  {% else %}
    <span class="next disabled">&gt;&gt;</span>
  {% endif %}
</div>
