---
layout: default
---

{% for post in paginator.posts %}
  <div class="post">
    <!-- Post header -->
    <div class="row">
      <div class="columns small-12 large-uncentered large-9">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <h1 class="post-title">{{ post.title }}</h1>
        </a>
      </div>
      <div class="columns small-12 large-3 post-date">
        <div>{{ post.date | date:"%B %d, %Y" }}</div>
      </div>
    </div>
    <br>
    <!-- Post content -->
    <div class="row">
      <div class="columns small-12 post-content">{{ post.excerpt }}</div>
    </div>
  </div>
  <hr>
{% endfor %}

<div id="pagination" class="row">
  <div class="columns small-centered small-8">
    <div class="row">
    {% if paginator.previous_page %} <!-- Previous pages exist -->
      {% if paginator.previous_page == 1 %}
      <div class="columns small-2">
        <a href="{{site.baseurl}}/">
          &lt;&lt;
        </a>
      </div>
      {% else %}
        <div class="columns small-2">
          <a href="{{site.baseurl}}/page{{paginator.previous_page}}">
            &lt;&lt;
          </a>
        </div>
      {% endif %}
    {% else %} <!-- No previous pages from here -->
      <div class="columns small-2"><span>&lt;&lt;</span></div>
    {% endif %}
    <!-- Paginator counter -->
    <div class="columns small-8">
      <span>{{ paginator.page }} / {{ paginator.total_pages }}</span>
    </div>
    {% if paginator.next_page %} <!-- Next pages exist -->
        <div class="columns small-2">
          <a href="{{site.baseurl}}/page{{paginator.next_page}}">&gt;&gt;</a>
        </div>
    {% else %}
      <div class="columns small-2"><span>&gt;&gt;</span></div>
    {% endif %}
    </div>
  </div>
</div>
