<!DOCTYPE html>
<html>
  <head>
    <title>stdout - coding and technology</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/pygments.css"/>
  </head>
  <body>
    <!-- Github Ribbon -->
    <a href="https://github.com/sensae"><img style="position: absolute; top: 0;
      right: 0; border: 0;"
      src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
      alt="Fork me on GitHub"></a>
    <!-- Rest of site -->
    <div id="site-header">
    </div>
    <div id="navigation">
      <a id="home" href="/"><span>home</span></a>
      <a id="dotfiles" href="https://github.com/sensae/dotfiles"><span>dotfiles</span></a>
      <a id="rubychan"
        href="http://sensae.github.com/rubychan"><span>rubychan</span></a>
    </div>
    <div id="content">
      {{ content }}
    </div>

    <!-- Piwik -->
    <script type="text/javascript"> 
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") 
          + "://piwik.ens.ae//";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'),
        s=d.getElementsByTagName('script')[0];
        g.type='text/javascript';
        g.defer=true; g.async=true;
        g.src=u+'piwik.js';
        s.parentNode.insertBefore(g,s);
      })();
    </script>

    <noscript><p><img
    src="http://piwik.ens.ae/piwik.php?idsite=1"
    style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Code -->

    <footer>
      <div id="footerquote">
        "To attain knowledge, add things every day.
        To attain wisdom, remove things every day." - Chuang-tse
      </div>
      Entypo pictograms by Daniel Bruce - 
      <a href="http://www.entypo.com">www.entypo.com</a>
    </footer>
  </body>
</html>
