<!DOCTYPE html>
<html>
  <head>
    <title>stdout - coding and technology</title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
  </head>
  <body>
    <div id="site-header">
      <h1 id="site-title"><b>blainepace@stdout</b>::~/blog $ ls &#x258F;</h1>
      <div id="navigation">
        <a href="http://github.com/sensae">github/</a>
        <a href="https://github.com/sensae/dotfiles">dotfiles/</a>
        <a href="http://sensae.github.com/rubychan">rubychan/</a>
      </div>
    </div>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>
