<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset=UTF-8>
    <title>stdout - coding and technology</title>
    <!-- Hey you! Viewing the source on my blog? Ahead may lie gross dragons..
         Anyway, it's dangerous to go alone,  take this!

               $_______________________________$$$$$
               $$$__________________________$$$$$$$
               $$$_$$____________________$$$$__$$$
               _$$___$$________________$$$$____$$
               __$____$$_____$$$$$$$$$$$$_____$$
               ___$$____$$$$$$$_____$$$_____$$$
               ____$$___$_________________$$$
               _____$$$__________________$$_____$$$$
               ______$$____________$$$$__$$$$$$$$__$$
               ______$__$$$$_______$$$$____$$______$$
               _$$$$$$__$$$$__$$____$$______$____$$$
               $$____$___$$____________$$$__$___$$$
               _$$$__$______$$$$$$____$___$_$$$$$
               ___$$$$_______$$__$_____$$$__$$$$$$$
               _____$$$$______$$$$_________$______$$
               _______$$$$______________$$________$$$$
               ______$$__$$$___$$$$$$_____________$$$$
               _____$$$_________________$$$$_____$$$$
               ____$$$$$______$$$$$$$$$$$$$$$$$$$$$
               ______$$$$$$_$$$$$$____________$$$
               __________$$$$
     -->

    <!-- Foundation stylesheets and modernizr -->
    <link rel="stylesheet" type="text/css"
          href="{{ site.baseurl }}/css/normalize.css"/>
    <link rel="stylesheet" type="text/css"
          href="{{ site.baseurl }}/css/foundation.css"/>
    <script src="{{ site.baseurl }}/js/vendor/modernizr.js"></script>

    <!-- Pygments for syntax highlighting -->
    <link rel="stylesheet" type="text/css"
          href="{{ site.baseurl }}/css/pygments.css"/>

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css"
          href="{{ site.baseurl }}/css/custom.css"/>
  </head>
  <body>
    <!-- Github Ribbon -->
    <!--
    <a href="https://github.com/pacebl"><img style="position: absolute; top: 0;
      right: 0; border: 0;"
      src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
      alt="Fork me on GitHub"></a>
      -->
    <!-- Rest of site -->
    <div id="main">
      <div id="wrapper">
        <div id="titlebg">
          <div class="row">
            <!-- Title -->
            <div id="title" class="columns small-12">
              <h1><span id="stdout">stdout</span>Coding and Technology</h1>
            </div>
          </div>
        </div>
        <div id="navbg">
          <div class="row">
            <div id="nav" class="columns small-centered small-6 large-8">
              <ul id="navlist" class="small-block-grid-2 medium-block-grid-4">
                <li>
                  <a id="home" href="{{ site.baseurl }}/index.html">
                    <span>&#8962;</span>
                    <label>Home</label>
                  </a>
                </li>
                <li>
                  <a id="posts" href="{{ site.baseurl }}/posts.html">
                    <span>&#9776;</span>
                    <label>Archive</label>
                  </a>
                </li>
                <li>
                  <a id="projects" href="{{ site.baseurl }}/projects.html">
                    <span>&#9000;</span>
                    <label>Projects</label>
                  </a>
                </li>
                <li>
                  <a id="about" href="{{ site.baseurl }}/about.html">
                    <span>&#128100;</span>
                    <label>About</label>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div> <!-- end navbg -->
        <!-- Content -->
        <div class="row">
          <div id="content" class="columns small-centered small-12 large-9">
            {{ content }}
          </div>
        </div>
        {% include adsense1.html %}
      </div>
    </div>

    <footer id="footer">
      <div class="show-for-large-up" id="quote">
        <a href="http://www.catb.org/~esr/writings/unix-koans/">
        There is more Unix-nature in one line of shell script than there is in
        ten thousand lines of C.
      </a>
      </div>
      <div class="row">
        <div id="footernav" class="columns small-6">
          <a href="{{ site.baseurl }}/rss.xml">
            <span>&#59194;</span>
            <label>RSS</label>
          </a>
          <a href="https://www.github.com/pacebl">
            <span class="entypo-social">&#62208;</span>
            <label>Github</label>
          </a>
          <a href="https://www.twitter.com/bl_pace">
            <span class="entypo-social">&#62217;</span>
            <label>Twitter</label>
          </a>
        </div>
        <span id="entypo-attribution" class="columns small-6">
          <a href="http://www.entypo.com">Entypo pictograms by Daniel Bruce</a>
        </span>
      </div>
    </footer>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http")
          + "://piwik.krypti.co//";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'),
        s=d.getElementsByTagName('script')[0];
        g.type='text/javascript';
        g.defer=true; g.async=true;
        g.src=u+'piwik.js';
        s.parentNode.insertBefore(g,s);
      })();
    </script>

    <noscript><p><img
    alt="piwik tracking image"
    src="http://piwik.krypti.co/piwik.php?idsite=1"
    style="border:0" /></p></noscript>
    <!-- End Piwik Code -->

    <!-- Foundation JS -->
    <script src="{{ site.baseurl }}/js/vendor/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/fastclick.js"></script>
    <script src="{{ site.baseurl }}/js/foundation.min.js"></script>

    <script>
      $(document).foundation();
    </script>
    <!-- End Foundation JS -->
  </body>
</html>
